
<div class="scrollmain">
    <section *ngFor="let list of sections" (click)="goToSmenu(list.id)">
      <ul class="list-group list-group-horizontal">
        <li class="list-group-item">
          <div>
            <div>
              <span>{{ list.title }}</span>
              <span>
                <button class="btn btn-outline-warning btn-sm">
                  View All
                </button>
              </span>
            </div>
            
            <div class="wrapper">
              <div *ngFor="let image of list.images">
                <img src="{{ image }}">
              </div>
            </div>
          </div>
        </li>
      </ul>
    </section>
  </div>
