<!-- <div class="scrollmain">
    <section>
        <ul class="list-group list-group-horizontal">
            <li class="list-group-item">
                <div class="">
                    <div>
                        <span>Handpicked Mobiles</span>
                        <span>
                            <button class="btn btn-outline-warning btn-sm ">
                                View All
                            </button>
                        </span>
                    </div>

                    <div class="wrapper">
                        <div> <img
                                src="https://www.bajajmall.in/content/dam/emistoremarketplace/index/28-02-23/1/2by2/1/HP_Carousel_1a_MOB_Smartphones_PLP_B2B.jpg">
                        </div>
                        <div> <img
                                src="https://www.bajajmall.in/content/dam/emistoremarketplace/index/28-02-23/1/2by2/1/HP_Carousel_1a_MOB_Smartphones_PLP_B2B.jpg">
                        </div>
                        <div> <img
                                src="https://www.bajajmall.in/content/dam/emistoremarketplace/index/28-02-23/1/2by2/1/HP_Carousel_1a_MOB_Smartphones_PLP_B2B.jpg">
                        </div>
                        <div> <img
                                src="https://www.bajajmall.in/content/dam/emistoremarketplace/index/28-02-23/1/2by2/1/HP_Carousel_1a_MOB_Smartphones_PLP_B2B.jpg">
                        </div>
                    </div>

                </div>
            </li>
            <li class="list-group-item">
                <div class="">
                    <div>
                        <span>Handpicked Mobiles</span>
                        <span>
                            <button class="btn btn-outline-warning btn-sm">
                                View All
                            </button>
                        </span>
                    </div>

                    <div class="wrapper">
                        <div> <img
                                src="https://www.bajajmall.in/content/dam/emistoremarketplace/index/28-02-23/1/2by2/1/HP_Carousel_1a_MOB_Smartphones_PLP_B2B.jpg">
                        </div>
                        <div> <img
                                src="https://www.bajajmall.in/content/dam/emistoremarketplace/index/28-02-23/1/2by2/1/HP_Carousel_1a_MOB_Smartphones_PLP_B2B.jpg">
                        </div>
                        <div> <img
                                src="https://www.bajajmall.in/content/dam/emistoremarketplace/index/28-02-23/1/2by2/1/HP_Carousel_1a_MOB_Smartphones_PLP_B2B.jpg">
                        </div>
                        <div> <img
                                src="https://www.bajajmall.in/content/dam/emistoremarketplace/index/28-02-23/1/2by2/1/HP_Carousel_1a_MOB_Smartphones_PLP_B2B.jpg">
                        </div>
                    </div>

                </div>
            </li>
            <li class="list-group-item"> 
                <div class="">
                    <div>
                        <span>Handpicked Mobiles</span>
                        <span>
                            <button class="btn btn-outline-warning btn-sm">
                                View All
                            </button>
                        </span>
                    </div>

                    <div class="wrapper">
                        <div> <img
                                src="https://www.bajajmall.in/content/dam/emistoremarketplace/index/28-02-23/1/2by2/1/HP_Carousel_1a_MOB_Smartphones_PLP_B2B.jpg">
                        </div>
                        <div> <img
                                src="https://www.bajajmall.in/content/dam/emistoremarketplace/index/28-02-23/1/2by2/1/HP_Carousel_1a_MOB_Smartphones_PLP_B2B.jpg">
                        </div>
                        <div> <img
                                src="https://www.bajajmall.in/content/dam/emistoremarketplace/index/28-02-23/1/2by2/1/HP_Carousel_1a_MOB_Smartphones_PLP_B2B.jpg">
                        </div>
                        <div> <img
                                src="https://www.bajajmall.in/content/dam/emistoremarketplace/index/28-02-23/1/2by2/1/HP_Carousel_1a_MOB_Smartphones_PLP_B2B.jpg">
                        </div>
                    </div>

                </div>
            </li>
            <li class="list-group-item">
                <div class="">
                    <div>
                        <span>Handpicked Mobiles</span>
                        <span>
                            <button class="btn btn-outline-warning btn-sm">
                                View All
                            </button>
                        </span>
                    </div>

                    <div class="wrapper">
                        <div> <img
                                src="https://www.bajajmall.in/content/dam/emistoremarketplace/index/28-02-23/1/2by2/1/HP_Carousel_1a_MOB_Smartphones_PLP_B2B.jpg">
                        </div>
                        <div> <img
                                src="https://www.bajajmall.in/content/dam/emistoremarketplace/index/28-02-23/1/2by2/1/HP_Carousel_1a_MOB_Smartphones_PLP_B2B.jpg">
                        </div>
                        <div> <img
                                src="https://www.bajajmall.in/content/dam/emistoremarketplace/index/28-02-23/1/2by2/1/HP_Carousel_1a_MOB_Smartphones_PLP_B2B.jpg">
                        </div>
                        <div> <img
                                src="https://www.bajajmall.in/content/dam/emistoremarketplace/index/28-02-23/1/2by2/1/HP_Carousel_1a_MOB_Smartphones_PLP_B2B.jpg">
                        </div>
                    </div>

                </div>
            </li>
            <li class="list-group-item">
                <div class="">
                    <div>
                        <span>Handpicked Mobiles</span>
                        <span>
                            <button class="btn btn-outline-warning btn-sm">
                                View All
                            </button>
                        </span>
                    </div>

                    <div class="wrapper">
                        <div> <img
                                src="https://www.bajajmall.in/content/dam/emistoremarketplace/index/28-02-23/1/2by2/1/HP_Carousel_1a_MOB_Smartphones_PLP_B2B.jpg">
                        </div>
                        <div> <img
                                src="https://www.bajajmall.in/content/dam/emistoremarketplace/index/28-02-23/1/2by2/1/HP_Carousel_1a_MOB_Smartphones_PLP_B2B.jpg">
                        </div>
                        <div> <img
                                src="https://www.bajajmall.in/content/dam/emistoremarketplace/index/28-02-23/1/2by2/1/HP_Carousel_1a_MOB_Smartphones_PLP_B2B.jpg">
                        </div>
                        <div> <img
                                src="https://www.bajajmall.in/content/dam/emistoremarketplace/index/28-02-23/1/2by2/1/HP_Carousel_1a_MOB_Smartphones_PLP_B2B.jpg">
                        </div>
                    </div>

                </div>
            </li>
            <li class="list-group-item">
                <div class="">
                    <div>
                        <span>Handpicked Mobiles</span>
                        <span>
                            <button class="btn btn-outline-warning btn-sm">
                                View All
                            </button>
                        </span>
                    </div>

                    <div class="wrapper">
                        <div> <img
                                src="https://www.bajajmall.in/content/dam/emistoremarketplace/index/28-02-23/1/2by2/1/HP_Carousel_1a_MOB_Smartphones_PLP_B2B.jpg">
                        </div>
                        <div> <img
                                src="https://www.bajajmall.in/content/dam/emistoremarketplace/index/28-02-23/1/2by2/1/HP_Carousel_1a_MOB_Smartphones_PLP_B2B.jpg">
                        </div>
                        <div> <img
                                src="https://www.bajajmall.in/content/dam/emistoremarketplace/index/28-02-23/1/2by2/1/HP_Carousel_1a_MOB_Smartphones_PLP_B2B.jpg">
                        </div>
                        <div> <img
                                src="https://www.bajajmall.in/content/dam/emistoremarketplace/index/28-02-23/1/2by2/1/HP_Carousel_1a_MOB_Smartphones_PLP_B2B.jpg">
                        </div>
                    </div>

                </div>
            </li>
            <li class="list-group-item">
                <div class="">
                    <div>
                        <span>Handpicked Mobiles</span>
                        <span>
                            <button class="btn btn-outline-warning btn-sm">
                                View All
                            </button>
                        </span>
                    </div>

                    <div class="wrapper">
                        <div> <img
                                src="https://www.bajajmall.in/content/dam/emistoremarketplace/index/28-02-23/1/2by2/1/HP_Carousel_1a_MOB_Smartphones_PLP_B2B.jpg">
                        </div>
                        <div> <img
                                src="https://www.bajajmall.in/content/dam/emistoremarketplace/index/28-02-23/1/2by2/1/HP_Carousel_1a_MOB_Smartphones_PLP_B2B.jpg">
                        </div>
                        <div> <img
                                src="https://www.bajajmall.in/content/dam/emistoremarketplace/index/28-02-23/1/2by2/1/HP_Carousel_1a_MOB_Smartphones_PLP_B2B.jpg">
                        </div>
                        <div> <img
                                src="https://www.bajajmall.in/content/dam/emistoremarketplace/index/28-02-23/1/2by2/1/HP_Carousel_1a_MOB_Smartphones_PLP_B2B.jpg">
                        </div>
                    </div>

                </div>
            </li>
            <li class="list-group-item">
                <div class="">
                    <div>
                        <span>Handpicked Mobiles</span>
                        <span>
                            <button class="btn btn-outline-warning btn-sm">
                                View All
                            </button>
                        </span>
                    </div>

                    <div class="wrapper">
                        <div> <img
                                src="https://www.bajajmall.in/content/dam/emistoremarketplace/index/28-02-23/1/2by2/1/HP_Carousel_1a_MOB_Smartphones_PLP_B2B.jpg">
                        </div>
                        <div> <img
                                src="https://www.bajajmall.in/content/dam/emistoremarketplace/index/28-02-23/1/2by2/1/HP_Carousel_1a_MOB_Smartphones_PLP_B2B.jpg">
                        </div>
                        <div> <img
                                src="https://www.bajajmall.in/content/dam/emistoremarketplace/index/28-02-23/1/2by2/1/HP_Carousel_1a_MOB_Smartphones_PLP_B2B.jpg">
                        </div>
                        <div> <img
                                src="https://www.bajajmall.in/content/dam/emistoremarketplace/index/28-02-23/1/2by2/1/HP_Carousel_1a_MOB_Smartphones_PLP_B2B.jpg">
                        </div>
                    </div>

                </div>
            </li>
        </ul>

    </section>
</div> -->


<div class="scrollmain">
    <section *ngFor="let list of sections" >
      <ul class="list-group list-group-horizontal">
        <li class="list-group-item">
            <a [routerLink]="['/smenu']" routerLinkActive="router-link-active" >
          <div>
            <div>
              <span>{{ list.title }}</span>
              <span>
                <button class="btn btn-outline-warning btn-sm">
                  View All
                </button>
              </span>
            </div>
  
            <div class="wrapper">
              <div *ngFor="let image of list.images">
                <img src="{{ image }}">
              </div>
            </div>
          </div>
        </a>
        </li>
      </ul>
    </section>
  </div>
