
.griddiv{
    margin-top: 5%;
}
.mobile-image{
    height: 15rem;
   /* border-bottom-left-radius: 5%;
   border-bottom-right-radius: 5%; */
   border-radius: 5%;
    background-color: #e4e2e3;
}

.mobile{
  
    height: 14rem ;
    width: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
    transition: transform .2s
}
.mobile:hover{
    transform: scale(1.1);
}
.product-section{
    height: 21rem;
    background-color: #ffffff;
    margin-bottom: 7%;
    border-radius: 5%;
    border: solid 0.5px #bbb;
}
.wishlist-icons{
    float:right;
    margin-right: 5%;
    margin-top: 2%;
}
.EMIcard{
    font-size: medium;
    color: #f95b01;
    font-weight: bold;
    /* background-color: #f95b01; */
    /* width: 20rem; */
    /* width: 50%; */
}
.Details{
  padding-left: 2%;
  margin-top: 8%;
  position: relative;
}
.btn{
    background-color:#f95b01;
    color:#ffffff;
    margin-right: 10%;
    float: right;
}

@media (max-width: 768px)  { 
    #mobilehidden{
        visibility:collapse;
        margin-bottom: -90%;
    }
}