img{
    width: 100%;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    margin-bottom: 5%;
}
.griddiv{
    margin-top: 5%;
}
@media (max-width: 768px)  { 
    #mobilehidden{
        visibility:collapse;
        margin-bottom: -90%;
    }
}