<div class="row g-1" class="txt">
  <div class="card mb-3" style="padding: 3%; border: none;">
    <div class="row g-0">

      <h3>Frequently Asked Questions</h3>

      <div class="accordion accordion-flush" id="accordionFlushExample">
        <div class="accordion-item">
          <h2 class="accordion-header" id="flush-headingOne">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
              data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">
              Which are the best smartphone brands available in India?
            </button>
          </h2>
          <div id="flush-collapseOne" class="accordion-collapse collapse" aria-labelledby="flush-headingOne"
            data-bs-parent="#accordionFlushExample">
            <div class="accordion-body">
              <div class="row g-1" class="txt">
                The Indian mobile market is booming, and users get so many options to choose from that they get
                confused. Some of the best smartphone brands in the country include Apple, Samsung, OnePlus, Xiaomi,
                vivo, and OPPO. Moreover, handsets from any of these brands come with guaranteed performance and
                reliability.
              </div>
            </div>
          </div>
        </div>

        <div class="accordion-item">
          <h2 class="accordion-header" id="flush-headingTwo">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
              data-bs-target="#flush-collapseTwo" aria-expanded="false" aria-controls="flush-collapseTwo">
              How much RAM is good for a phone?
            </button>
          </h2>
          <div id="flush-collapseTwo" class="accordion-collapse collapse" aria-labelledby="flush-headingTwo"
            data-bs-parent="#accordionFlushExample">
            <div class="accordion-body">
              <div class="row g-1" class="txt">
                Most mobile applications and software are resource hungry. Therefore, we advise you to get a phone with
                at least 2 GB RAM, which is sufficient for regular usage. However, if you are an avid gamer or
                frequently stream HD content, we recommend a handset with at least 3 GB to 4 GB RAM to ensure a smooth,
                lag-free performance.
              </div>
            </div>
          </div>
        </div>

        <div class="accordion-item">
          <h2 class="accordion-header" id="flush-headingThree">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
              data-bs-target="#flush-collapseThree" aria-expanded="false" aria-controls="flush-collapseThree">
              Which phones are best for students?
            </button>
          </h2>
          <div id="flush-collapseThree" class="accordion-collapse collapse" aria-labelledby="flush-headingThree"
            data-bs-parent="#accordionFlushExample">
            <div class="accordion-body">
              <div class="row g-1" class="txt">
                Samsung A12 and vivo Y21 are two of the best handsets for students in India. Both these handsets pack
                the Mediatek Helio 35 processor, powerful 5,000 mAh capacity batteries, and large displays. While
                Samsung A12 has a quad rear camera setup, vivo Y21 has a dual rear camera with a 13MP primary sensor.
              </div>
            </div>
          </div>
        </div>

        <div class="accordion-item">
          <h2 class="accordion-header" id="flush-headingFour">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
              data-bs-target="#flush-collapseFour" aria-expanded="false" aria-controls="flush-collapseFour">
              Which phones are best for gaming?
            </button>
          </h2>
          <div id="flush-collapseFour" class="accordion-collapse collapse" aria-labelledby="flush-headingFour"
            data-bs-parent="#accordionFlushExample">
            <div class="accordion-body">
              <div class="row g-1" class="txt">
                OnePlus 9 Pro 5G and Reno7 Pro 5G are two of the best gaming phones in India. Both phones have 12 GB RAM
                to handle the latest AAA gaming titles. In addition, these phones pack powerful 4,500 mAh capacity
                batteries to ensure long hours of gaming on a single charge.
              </div>
            </div>
          </div>
        </div>


      </div>
    </div>

  </div>
</div>
