<nav class="navbar navbar-expand-lg navbar-light sticky-top ">
  <div class="container-fluid d1 ">
    <div class="container-fluid d2 ">
      <button class="navbar-toggler tognav " type="button" data-bs-toggle="collapse"
        data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
        aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="d3 d4 ">
        <a class="navbar-brand" href="#">
          <i class="logo"></i>
            </a>
      </div>
      <form class=" d3 d6" role="search">
        <div class="input-group sd1  ">
          <button class="searchbtn" type="submit" id="button-addon1">
            <img
              src="https://www.bajajmall.in/content/dam/emistoremarketplace/index/emi-mall-dam/dec-22/header-revamp/search-icon-grey.svg" />
          </button>
          <input type="search" class="form-control searchbar" placeholder="Search" aria-label="Search"
            aria-describedby="button-addon1">
        </div>
      </form>
      <div class="d3 d5  iconright">
        <ul class="navbar-nav flex-row  ">
          <li>
            <div class="col-md-4">
              <img src="../assets/fav_white.png" width="25px" height="25px" style="float: right; cursor: pointer;" routerLink="/wishlist" routerLinkActive="active">
            </div>
          </li>
          <li class="nav-item ">
            <a class="nav-link py-0 pr-3 icons" href="#"><img
                src="https://www.bajajmall.in/content/dam/emistoremarketplace/index/emi-mall-dam/dec-22/header-revamp/bell-notification.svg"></a>
          </li>
          <li class="nav-item ">
            <a class="nav-link py-0 pr-3 icons" href="#"><img
                src="https://www.bajajmall.in/content/dam/emistoremarketplace/index/emi-mall-dam/dec-22/header-revamp/shopping-cart.svg"></a>
          </li>
          <li class="nav-item">
            <!-- <a class="nav-link py-0 pr-3 popup" ><app-loginpage></app-loginpage> </a> -->
          </li>
        </ul>
      </div>

    </div>
    <div class="collapse navbar-collapse ml-lg-0 ml-3  " id="navbarSupportedContent">
      <ul class="navbar-nav row2">
        <li class="nav-item active">
          <a class="nav-link" href="#">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Product</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Shop</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">About</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Events</a>
        </li>
      </ul>


    </div>
  </div>


</nav>