footer{
    bottom: 0;
    position: sticky;
    width: 100%;
    margin-bottom: -10%;
}
a{
    text-decoration: none;
}
img{
   height: 30px;
   width:30px;
   margin-right: 10%;
   margin-bottom: 10%;
}