
    
<div class=" my-5">
    <!-- Footer -->
    <footer
            class="text-center text-lg-start text-white"
            style="background-color: #193062"
            >
 
      <div class="container p-4 pb-0">
    
        <section class="">
      
          <div class="row">
        
            <div class="col-md-3 col-lg-3 col-xl-3 mx-auto mt-3">
              <h6 class="text-uppercase mb-4 font-weight-bold">
                BAJAJ MALL
              </h6>
             
            </div>
        
  
            <hr class="w-100 clearfix d-md-none" />
  
           
            <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mt-3">
              <h6 class="text-uppercase mb-4 font-weight-bold">MOBILES</h6>
              <p>
                <a class="text-white">ALL SMART PHONES</a>
              </p>
              <p>
                <a class="text-white">BUDGET SMART PHONES</a>
              </p>
              <p>
                <a class="text-white">PREMIUM SMART PHONES </a>
              </p>
              <p>
                <a class="text-white">PERFORMANACE SMART PHONE</a>
              </p>
              <p>
                <a class="text-white">BEST VALUE PHONE</a>
              </p>
            </div>
         
  
            <hr class="w-100 clearfix d-md-none" />
  
           
            <hr class="w-100 clearfix d-md-none" />
  
           
            <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mt-3">
              <h6 class="text-uppercase mb-4 font-weight-bold">Contact</h6>
              <p><i class="fas fa-home mr-3"></i> 4th Floor, B2 Building, Cerebrum IT Park,Kumar City, Kalyani Nagar, Pune - 411014.</p>
              <!-- <p><i class="fas fa-envelope mr-3"></i> info@gmail.com</p>
              <p><i class="fas fa-phone mr-3"></i> + 01 234 567 88</p>
              <p><i class="fas fa-print mr-3"></i> + 01 234 567 89</p> -->
            </div>
            <!-- Grid column -->
  
            <!-- Grid column -->
            <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mt-3">
              <h6 class="text-uppercase mb-4 font-weight-bold">Follow us</h6>
  
              <!-- Facebook -->
              <a><img src="https://cdn-icons-png.flaticon.com/512/733/733547.png" ></a>
  
              <!-- Twitter -->
              <a><img src="https://cdn-icons-png.flaticon.com/128/3256/3256013.png" ></a>
  
              <!-- Google -->
              <a><img src="https://cdn-icons-png.flaticon.com/128/281/281764.png" ></a>
  
              <!-- Instagram -->
              <a><img src="https://cdn-icons-png.flaticon.com/512/2111/2111463.png" ></a>
  
              <!-- Linkedin -->
              <a><img src="https://cdn-icons-png.flaticon.com/128/2504/2504923.png" ></a>
              <!-- Github -->
              <a><img src="https://cdn-icons-png.flaticon.com/128/2504/2504911.png" ></a>
            </div>
          </div>
          <!--Grid row-->
        </section>
        <!-- Section: Links -->
      </div>
      <!-- Grid container -->
  
    </footer>
    <!-- Footer -->
  </div>
  <!-- End of .container -->