
 
 <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-inner" id="carousel-inner1">
      <div class="carousel-item active">
        <img src="https://www.bajajmall.in/content/dam/emistoremarketplace/index/28-02-23/3/two-wheeler-sliders/urban-hp/HP_Slider_2_Desk_twowheelerbrandstore_CLP_UTW.jpg" class="d-block w-100" alt="">
      </div>
      <div class="carousel-item">
        <img src="https://www.bajajmall.in/content/dam/emistoremarketplace/index/28-02-23/2/sliders/home-page/desk/HP_Slider_4_Desk_campaignsf_CLP_SF.jpg" class="d-block w-100" alt="">
      </div>
      <div class="carousel-item">
        <img src="https://www.bajajmall.in/content/dam/emistoremarketplace/index/02-02-23/2/home-page/desk/HP_Slider_5_Desk_Allhomeproducts_CLP_SF.jpg" class="d-block w-100" alt="">
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <!-- <span class="visually-hidden">Previous</span> -->
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <!-- <span class="visually-hidden">Next</span> -->
    </button>
  
  </div>
 
  <app-floating-menu></app-floating-menu>
<app-scrollmenu></app-scrollmenu>
<app-productgrid></app-productgrid>
<app-carousel-internal></app-carousel-internal>
<app-card1></app-card1>