body {
    font-size: 1rem;
    line-height: 1.4;
    font-family: sans-serif;
    max-width: 75%;
    margin: 3rem auto;
    background: #f8f8f8;
  }
  
  .comparison-table {
    table-layout: fixed;
    width: 100%;
    border-collapse: collapse;
    border-spacing: 0;
    border-right: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    font-size: 0.75rem;
  }
  
  .comparison-table th,
  .comparison-table td {
    padding: 0.5rem;
    border-top: 1px solid #ddd;
    border-left: 1px solid #ddd;
  }
  
  .comparison-table th:first-child {
    border: 0;
  }
  
  .comparison-table th:nth-child(2n) {
    box-shadow: 0 0 2rem hsla(0, 0%, 0%, 0.15);
  }
  
  .comparison-table th:nth-child(2n),
  .comparison-table td:nth-child(2n) {
    position: relative;
    background: #fff;
  }
  
  .comparison-table td:not(:first-child) {
    text-align: center;
  }
  
  @media (min-width: 48rem) {
    .comparison-table {
      font-size: 0.875rem;
    }
    
    .comparison-table th,
    .comparison-table td {
      padding: 1rem;
    }
  }
  
  @media (min-width: 60rem) {
    .comparison-table {
      font-size: 1rem;
    }
    
    .comparison-table th,
    .comparison-table td {
      padding: 1.5rem 2rem;
    }
  }