.compare-image{
height: 300px;
width: 100%;
align-items: center;
}
img{
  height: 80%;
  display: block;
  margin: auto;
}
.table1{
  margin-top: 5%;
  width: 50%;
  margin-left: auto;
  margin-right: auto;
  background-color: rgb(255, 255, 255);
  box-shadow: rgba(17, 17, 26, 0.1) 0px 4px 16px, rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 56px;
}
li{
  line-height: 30px;
  display: block;
}
.resultcell{
  width: 70rem;
}
td:hover{
  color: rgb(223, 44, 44);
}
.content-div{
  margin-top: 2%;
}
.fullpage{
  min-height: 50vh;
}

@media (max-width: 776px) {
  .compare-image{
    height: 300px;
    /* width: 50%; */
    align-items: center;
    }
    img{
      /* height: 80%; */
      width: 120%;
    }
}