
    <div class="container">
        <div class=""><img src="https://www.bajajmall.in/content/dam/emistoremarketplace/index/24-01-23/3/mi-page/4blocker/MiBP_4blocker_1_MOB_redminote125g128gbstoragematteblack4gbramsmartphone_PDP_B2B.jpg">
        </div>
        <h1>one</h1>
        <div class="text-container">
            <span></span>
            <p class="h2">BUDGET SMART PHONES
            <p>
            <p>Upgrade your tech game without breaking the bank with budget smartphones! Get all the essential features
                you need to stay connected, browse the web, and access your favorite social media apps without spending
                a fortune.

            </p>
            <a href="https://www.bajajmall.in/emi-store/mi-mobile-phones-brand-store.html" target="_blank">Learn
                more</a>
        </div>
    </div>
    <!-- <div class="container">
        <div class="text-container">
            <span></span>
            <p class="h2">BUDGET SMART PHONES
            <p>
            <p>Upgrade your tech game without breaking the bank with budget smartphones! Get all the essential features
                you need to stay connected, browse the web, and access your favorite social media apps without spending
                a fortune.

            </p>
            <a href="https://www.bajajmall.in/emi-store/mi-mobile-phones-brand-store.html" target="_blank">Learn
                more</a>
        </div>
        <div class="img"></div>
    </div> -->
