footer{
    bottom: 0;
    position: sticky;
    width: 100%;
    margin-bottom: -10%;
}
a{
    text-decoration: none;
    font-size: small;
    
}
img{
   height: 30px;
   width:30px;
   margin-right: 10%;
   margin-bottom: 10%;
}
.adicon{
    margin: 0;
}
.logo{
    height: 100%;
    width: 100%;
    margin-top: 25%;
}
@media (max-width: 776px) {
    .logo{
       padding: 2%;
        margin-top: 0;
    }
}
