<div class="row g-1" class="txt">
    <div class="card mb-3 border-light border-top-0" style="padding: 2%; box-shadow: 2px 2px rgb(237, 237, 237);">
      <div class="row g-0">
        
      <h3>Smartphones - Shop Latest Phones Online on the Bajaj Mall</h3>
      <p><br>
        The latest mobiles can help you streamline your professional life, keep you connected, entertain you, and bowl you over with their performance and aesthetics. Moreover, you don’t have to pay a bomb at an auction to hire the services of these star players. All major smartphone manufacturers offer devices across price categories, from entry-level to flagship, ensuring a handset for every Indian customer. Improved hardware and faster wireless communication (due to standards such as LTE) have bolstered the growth of the smartphone industry.In addition, if the price of your preferred mobile stumps you, you can hit your financial woes for six with the No Cost EMI option. This feature helps you convert the cost of your purchase into manageable installments with no hidden or extra charges. You also get free home delivery and the assurance of 100% genuine products when you shop from Bajaj Mall.
      </p>
        
      </div>
    </div>

  </div>