<div class='outer'>
  <div class='wrapper wrapper2 '>

    <div class='main-content'>
      <!-- <div><img src="../assets/{{data.im}}.jpeg"> </div> -->
      <div><img src="../assets/{{data.im}}.jpeg" width="60%" class="imgpsoiton"></div>
      <h5>Confirmation</h5>
      <div>
        <p>
          {{data.name}} <br>
          is ready to shipped!
        <p>
      </div>
      <div><img src="https://cdn-icons-png.flaticon.com/512/2143/2143150.png" width="20%" class="imgpsoiton"></div>
      <button class='cta-btn' routerLink="/" routerLinkActive="active">Continue Shopping!</button>
    </div>
  </div>

  <div class='wrapper wrapper2 '>


    <img src="https://cdn-icons-png.flaticon.com/512/3063/3063822.png" width="18%" class="imgpsoiton">
    <div class='main-content'>
      <div>

      </div>
      <h5>Order Delivery Status</h5>
      <div>
        <div class="delivery-bar">
          <div class="delivery-step active">
            <div class="step-number">1</div>
            <div class="step-name">Order Placed</div>
          </div>
          <div class="delivery-step">
            <div class="step-number">2</div>
            <div class="step-name">Shipped</div>
          </div>
          <div class="delivery-step">
            <div class="step-number">3</div>
            <div class="step-name">Out for Delivery</div>
          </div>
          <div class="delivery-step">
            <div class="step-number">4</div>
            <div class="step-name">Delivered</div>
          </div>
        </div>

      </div>
      <div class="btn2"> <button class='cta-btn alt-btn'>To Know More</button> </div>
    </div>
  </div>
</div>
