<div class="formdiv">
    <form [formGroup]="form1" (ngSubmit)="local()">
        <div class="nameinfo">
            <label for="fname">First Name: </label>
            <input type="text" id="fname" formControlName="fname" placeholder="First Name">
            <div class="alert" *ngIf="form1.controls['fname'].invalid && (form1.controls['fname'].touched ||form1.controls['fname'].dirty)">
               First Name Should Contain Minimum 4 character
            </div>
            <input type="text" id="lname" formControlName="lname" placeholder="Last Name">
            <div class="alert" *ngIf="form1.controls['lname'].invalid && (form1.controls['lname'].touched ||form1.controls['lname'].dirty)">
                Last Name Should Contain Minimum 4 character
            </div>
        </div>
       
        <div>
            <label for="Email">Email Id:</label>
            <input type="email" id="email" formControlName="email" placeholder="enter your email">
            <div class="alert" *ngIf="form1.controls['email'].invalid && (form1.controls['email'].touched ||form1.controls['email'].dirty)">
                Please Enter valid Mail-ID
            </div>
          
        </div>
        <div>
                <label for="password">New Password:</label>
                <input type="password" id="password" placeholder="enter password" formControlName="password">
            
            <label for="cpassword">Confirm New Password:</label>
                <input  type="password" id="cpassword" placeholder="confirm password" formControlName="cpassword">
            <div *ngIf="pass" class="alert">
                Passwords do not match 
            </div>
        </div>
          
        <div>
            <button type="submit" [disabled]="!form1.valid" (click)="sendotp()">Submit</button>
        </div>
    </form>
    </div>
    