<div class="container-fluid griddiv ">
    <div class="row justify-content-between p-2">
        <span class="col-8" >
            <h3> Latest Smartphones</h3>
        </span>
        <span class="col-4">
            <button class="btn btn-warning btn-sm float-end">View All</button>
        </span>
    </div>
    <div>
        <div class="row row-cols-2 row-cols-sm-2 row-cols-md-4 p-2">
            <div class="col"><img src="https://www.bajajmall.in/content/dam/emistoremarketplace/index/08-03-23/2/home-page/4-blk/1-smartphone/HP_4blocker_1_MOB_oppoa785g128gbstorageglowingblue8gbram_PDP_B2B.jpg"></div>
            <div class="col"><img src="https://www.bajajmall.in/content/dam/emistoremarketplace/index/08-03-23/2/home-page/4-blk/1-smartphone/HP_4blocker_2_MOB_oppoa785g128gbstorageglowingblack8gbram_PDP_B2B.jpg"></div>
            <div class="col"><img src="https://www.bajajmall.in/content/dam/emistoremarketplace/index/08-03-23/2/home-page/4-blk/1-smartphone/HP_4blocker_5_MOB_samsunggalaxys23ultra1tbstoragephantomblack12gbram_PDP_B2B.jpg"></div>
            <div class="col"><img src="https://www.bajajmall.in/content/dam/emistoremarketplace/index/08-03-23/2/home-page/4-blk/1-smartphone/HP_4blocker_8_MOB_oneplus115g128gbstorageeternalgreen8gbram_PDP_B2B.jpg"></div>
          </div>
          
                
    </div>
</div>

