.container {
    margin-top:1%;
}

.txt {
    font-size: 12px;
}

.sort {
    font-size: 12px;
    margin-left: -4%;
    text-decoration: none;

}
.activelink{
    z-index: 1000;
}
.activelink:hover{
    cursor:grab;
}
.sort1 {
    display: inline;
    padding-right: 5%;
    text-decoration: none;
    cursor: pointer;
}

.clear {
    color: red;
    text-decoration: none;
}

.smphone {
    font-size: 13px;
}

.a {
    text-decoration: none;
    color: black;
}

.bcrumb {
    font-size: 13px;
}

.compare {
    background: #ffffff;
    border-radius: 5px;
    border: solid 1px rgb(207, 203, 203);
    font-size: 13px;
    padding: 7px 15px -1px -1px;
    text-decoration: none;
    margin-bottom: 5%;
    margin-right: -2%;
}

.msg {
    color: #005f20;
    padding: 4%;
}

.login {

    background-color: transparent;
    color: #005f20;
    padding: 6px 16px;
    border: 1px solid #005f20;
    border-radius: 5px;
    margin-top: 5%;
}

.more {
    background-color: #fb9b27;
    color: white;
    padding: 6px 16px;
    border: 1px solid #ffffff;
    border-radius: 5px;
    margin-left: 30%;
}

.wave {
    animation-name: wave-animation;
    animation-duration: 2.5s;
    animation-iteration-count: infinite;
    transform-origin: 70% 70%;
    display: inline-block;
    margin-top: 15%;
    margin-left: 30%;
}


@keyframes wave-animation {
    0% {
        transform: rotate(0.0deg)
    }

    10% {
        transform: rotate(14.0deg)
    }

    20% {
        transform: rotate(-8.0deg)
    }

    30% {
        transform: rotate(14.0deg)
    }

    40% {
        transform: rotate(-4.0deg)
    }

    50% {
        transform: rotate(10.0deg)
    }

    60% {
        transform: rotate(0.0deg)
    }

    /* Reset for the last half to pause */
    100% {
        transform: rotate(0.0deg)
    }

    
}

.green-hand-img {
    width: 42px;
    height: 42px;
    margin-right: 20px;
}

.favbutton {
    cursor: pointer;
}

.phone:hover {
    zoom: 105%;
}