
<div class="container-fluid floatdiv">
    <section  id="floatsection">
        <div class="row row-lg-4 row-cols-lg-4 row-cols-2  r1"> 

            <div (click)="goToSmenu(1)">
                <div class="col  c1">
                    <div>
                        <div class="row justify-content-center">
                            <img class=" img1 col-3"
                                src="https://cdn-icons-png.flaticon.com/128/545/545194.png" />
                            <div class="col-7 g-0">
                                <p class="fw-bold ">Budget Phones</p>
                                <p > Best Deals</p>
                                <img src="https://www.bajajmall.in/content/dam/emistoremarketplace/index/index/emi-serv-arrow.png" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>


            <div (click)="goToSmenu(2)">
                <div class="col  c1">
                        <div>
                            <div class="row justify-content-center">
                                <img class=" img1 col-3"
                                    src="https://cdn-icons-png.flaticon.com/128/644/644458.png" />
                                <div class="col-7 g-0">
                                    <p class="fw-bold ">Premium Phn.</p>
                                    <p > Best Deals</p>
                                    <img src="https://www.bajajmall.in/content/dam/emistoremarketplace/index/index/emi-serv-arrow.png" />
                                </div>
                            </div>
                        </div>
                    </div>
            </div>

                
            <div (click)="goToSmenu(3)">
                <div class="col  c1">
                        <div>
                            <div class="row justify-content-center">
                                <img class=" img1 col-3"
                                    src="https://cdn-icons-png.flaticon.com/512/5608/5608615.png" />
                                <div class="col-7 g-0">
                                    <p class="fw-bold ">Gaming Phones</p>
                                    <p > Best Deals</p>
                                    <img src="https://www.bajajmall.in/content/dam/emistoremarketplace/index/index/emi-serv-arrow.png" />
                                </div>
                            </div>
                        </div>
                </div>
            </div>


            <a routerLink="/home" routerLinkActive="active" ariaCurrentWhenActive="page">
                        <div class="col  c1">
                            <div>
                                <div class="row justify-content-center">
                                    <img class=" img1 col-3" src="https://cdn-icons-png.flaticon.com/512/604/604609.png">                                    <div class="col-7 g-0">
                                        <p class="fw-bold ">Latest Phones</p>
                                        <p > Best Deals</p>
                                        <img src="https://www.bajajmall.in/content/dam/emistoremarketplace/index/index/emi-serv-arrow.png" />
                                    </div>
                                </div>
                            </div>
                        </div>
             </a>



        </div>

    </section>
</div>