
/* .col-md-3{
  padding-top: 5%;
} */

body {
  background-color: #f5f5f5;
}
.row {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px;
  background-color: rgba(178, 178, 178, 0);
}
.col-md-7 {
  background-color: #ffffff;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 40px 80px 800px rgba(0, 0, 0, 0.2);
}
.col-md-7 > div:first-child {
  font-size: 30px;
  font-weight: bold;
  text-align: center;
  margin-bottom: 20px;
}
img {
  max-width: 100%;
  height: auto;
  margin-bottom: 20px;
}
.col-md-7 > div:last-child {
  display: flex;
  flex-direction: column;
}
.col-md-7 > div:last-child > div:first-child {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 10px;
}
.col-md-7 > div:last-child > div:last-child {
  font-size: 20px;
}
.card {
  margin: 10px;
  border-radius: 5px;
  box-shadow: 40px 40px 70px 0 rgba(0, 0, 0, 0);
}
.card-title {
  font-size: 18px;
  font-weight: bold;
}
.card-text {
  font-size: 22px;
  font-weight: bold;
  color: #7a7a7a;
}
.content{
  text-align: center;
  background-color: rgb(255, 255, 255);
}





.buynow{
  width: 100%;

}

