<div class="row">
  <div class="col-md-1">this works2</div>
  <div class="col-md-7">
    <div>BAJAJ MALL2</div>

    <hr>

    <div>
      <div><img [src]=""></div>
      <div>
        <div>product name</div>
        <div>product MRP</div>
        <div>delivery expected date</div>
      </div>
    </div>
  </div>

  <div class="col-md-3">
    <div class="card" style="width: 18rem;">
      <div class="card-body">
        <span class="card-title">Price Details</span>
        <hr>
        <span class="card-title">Price ₹</span> <br>
        <span class="card-title">Discount ₹</span> <br>
        <span class="card-title">Delivery charges</span>
        <hr>
        <span class="card-text">Total Amount ₹</span>
      </div>
    </div>
  </div>

  <div class="col-md-1">this works 2</div>
</div>
